<div style="width: 335px;height: 160px">
    <div id="login-alert" class="alert alert-error" style="display:none;">
    </div>
    <!--<div style="float: left; height: 100%">-->
    <div class="text-center">
        <!--Login with LinkedIn<br/>-->
        <a href="#" id="login-linkedIn" ><img class="linkedin-icon" src="/images/linkedin3.png" /></a>
        
        <!--<div style="position: absolute;bottom: 5px">-->
            <a href="#" id="register-linkedIn" style="margin-top: 30px"><img class="linkedin-icon" src="/images/contactlinkedin.png" /></a>
        <!--</div>-->
    </div>
    <div class="text-center">-or-</div>
    <div>
        <form class="form-horizontal">
            <div class="control-group text-center">
                <!--<label class="control-label" for="username">Username</label>-->
                <div class="controls">
                    <input type="text" id="username" class="login-input" placeholder="Username">
                </div>
            </div>
            <div class="control-group text-center">
                <!--<label class="control-label" for="password">Password</label>-->
                <div class="controls">
                    <input type="password" id="password" class="login-input" placeholder="Password">
                </div>
            </div>
            <div class="reset-password"><a href="#" id="resetPassword" style="margin-left: 15px">Reset Password</a></div>
            <div class="control-group" style="margin-top: 10px">
                <div class="controls">
                    <button type="submit" class="btn login-action-btn" id="loginButton">Sign in</button>
                    <a href="#" id="register" class="register-action-btn login-action-btn">Register</a>
                </div>
            </div>
            <!--<div ></div>-->
        </form>
        </div>
    </div>