<div>
    <div id="login-alert" class="alert alert-error" style="display:none;">
    </div>
    <div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="firstname">First Name</label>
                <div class="controls">
                    <input type="text" id="firstname" name="firstname" placeholder="First Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="lastname">Last Name</label>
                <div class="controls">
                    <input type="text" id="lastname" name="lastname" placeholder="Last Name">
                </div>
            </div>
            <div class="control-group" style="margin-top: 10px">
                <div class="controls">
                    <button type="submit" class="btn" id="registerButton">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    </div>