<form>
    <table class="borderless">
        <tr>
            <td class="cellLabel borderless"><label for="userAccount-Email" class="control-label">Email:</label></td>
            <td class="borderless"><input id="userAccount-Email" name="Email" type="text" value="<%=Email%>"/></td>
        </tr>
        <tr>
            <td class="cellLabel borderless"><label for="userAccount-FirstName" class="control-label">First Name:</label></td>
            <td class="borderless"><input id="userAccount-FirstName" name="FirstName" type="text" value="<%=FirstName%>"/></td>
        </tr>
        <tr>
            <td class="cellLabel borderless"><label for="userAccount-LastName" class="control-label">Last Name:</label></td>
            <td class="borderless"><input id="userAccount-LastName" name="LastName" type="text" value="<%=LastName%>"/></td>
        </tr>
        <tr>
            <td class="cellLabel borderless"><label for="userAccount-Phone" class="control-label">Phone:</label></td>
            <td class="borderless"><input id="userAccount-Phone" name="Phone" type="text" value="<%=Phone%>"/></td>
        </tr>
         <tr>
            <td class="cellLabel borderless"><label for="userAccount-Password" class="control-label">Password:</label></td>
            <td class="borderless"><input id="userAccount-Password" name="Password" type="password" value="<%=Password%>"/></td>
        </tr>
        <tr>
            <td class="borderless"></td>
            <td class="borderless"><button class="btn js-submit" style="margin-top: 5px"> Save </button></td>
        </tr>
    </table>
</form>
